<a href="https://colab.research.google.com/github/leonardoarrieta30/Algoritmos/blob/main/Listas%20Enlazadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
	%%writefile xd.cpp
	#include<iostream>
	using namespace std;

	//inserccion de la lista enlazada es O(1)

template<typename Tipo>
	struct Nodo
	{
		//estoy llamando a la misma funcion asi que se llama con<>
		Tipo dato;//elemento
		Nodo<Tipo>* siguiente; //puntero siguiente
		Nodo(Tipo dato, Nodo<Tipo>* siguiente=nullptr){
			this->dato = dato;
		}

	};
	template<class TIPO>
	class ListaEnlazada
	{
	private:
		Nodo<TIPO>* inicio;
	public:
		ListaEnlazada(){
			inicio = nullptr;
		}
		void agregar(TIPO e) { 
			Nodo<TIPO>* nd = new Nodo<TIPO>(e);
			if (inicio==nullptr)
			{
				inicio = nd;
			}
			else
			{
				Nodo<TIPO>* aux = inicio;
				while (aux->siguiente != nullptr){
					aux = aux->siguiente;
				}
				aux->siguiente = nd;
			}
		}
		void mostrar() {
			Nodo<TIPO>* aux = inicio;
			while (aux!=nullptr)
			{
				cout << aux->dato<<"->";
				aux = aux->siguiente;
			}
		}
	};


	int main() {
		ListaEnlazada<int> le;
		le.agregar(10);
		le.agregar(20);
		le.agregar(30);
		le.agregar(40);
		le.agregar(50);
		le.mostrar();

		cout<<endl;

		ListaEnlazada<string> les;
		les.agregar("leonardo");
		les.agregar("Gabriel");
		les.agregar("Diego");
		les.agregar("Jenny");
		les.agregar("camila");
		les.mostrar();

		



		return 0;
	}

Overwriting xd.cpp

In [26]:
!g++ xd.cpp && ./a.out

10->20->30->40->50->
leonardo->Gabriel->Diego->Jenny->camila->